In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
gdf = gpd.read_file('../data/mesh2011_2016.geojson')
gdf2 = gpd.read_file('../data/mesh2011_2016_diff.geojson')

In [6]:
gdf2

,KEY_CODE,MESH1_ID,MESH2_ID,MESH3_ID,MESH4_ID,OBJ_ID,2016_官公庁施設,2011_官公庁施設,2016_教育文化施設,2011_教育文化施設,...,スポーツ・興行施設_diff,独立住宅_diff,集合住宅_diff,専用工場_diff,住居併用工場_diff,倉庫運輸関係施設_diff,農林漁業施設_diff,building_count_diff,_diff,geometry
0,533925463,5339,25,46,3,8587,2.0,1.0,6.0,5.0,...,0.0,1.0,11.0,0.0,0.0,1.0,0.0,18.0,3.0,"POLYGON ((139.70625 35.53750, 139.70000 35.537..."
1,533925464,5339,25,46,4,8588,0.0,0.0,8.0,5.0,...,0.0,9.0,25.0,-1.0,3.0,0.0,0.0,56.0,13.0,"POLYGON ((139.71250 35.53750, 139.70625 35.537..."
2,533925473,5339,25,47,3,8591,0.0,0.0,11.0,2.0,...,0.0,0.0,12.0,-1.0,0.0,0.0,0.0,22.0,1.0,"POLYGON ((139.71875 35.53750, 139.71250 35.537..."
3,533925552,5339,25,55,2,8622,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"POLYGON ((139.70000 35.54167, 139.69375 35.541..."
4,533925561,5339,25,56,1,8625,0.0,0.0,9.0,9.0,...,0.0,40.0,48.0,1.0,-3.0,-2.0,0.0,92.0,3.0,"POLYGON ((139.70625 35.54167, 139.70000 35.541..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,533957303,5339,57,30,3,18523,0.0,0.0,7.0,9.0,...,0.0,10.0,0.0,0.0,0.0,-1.0,0.0,6.0,0.0,"POLYGON ((139.88125 35.77917, 139.87500 35.779..."
2495,533957304,5339,57,30,4,18524,0.0,0.0,0.0,2.0,...,0.0,19.0,1.0,0.0,-1.0,-2.0,0.0,15.0,0.0,"POLYGON ((139.88750 35.77917, 139.88125 35.779..."
2496,533957311,5339,57,31,1,18525,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((139.89375 35.77500, 139.88750 35.775..."
2497,533957313,5339,57,31,3,18527,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,-1.0,-1.0,0.0,0.0,-2.0,-1.0,"POLYGON ((139.89375 35.77917, 139.88750 35.779..."
2498,533957501,5339,57,50,1,18601,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((139.88125 35.79167, 139.87500 35.791..."